table {
    margin: 50px auto;
    border: 2px solid rgb(255, 208, 0);
    border-collapse: collapse;
    font-family: Hind Siliguri;
    width: 100%;
}
thead{
    background:  rgb(255, 208, 0);
}
tbody {
    background: rgb(50, 24, 166);
    color: white;
    text-align: left;
}
th, td{
    padding: 20px;
    border: 2px solid rgb(255, 208, 0); 
}
.lastname{
    background: rgba(203, 167, 2, 0.614);
}
button {
    width: 147px;
}
input {
    color: grey;
}
